<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

    {% block content %}
        <div id="home-container" class="container">
            <div class="home-wrapper">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="home-card-container mx-auto">
                            <div class="container home-img-container">
                                <i class="fas fa-plus home-icon"></i>
                            </div>
                            <h1>Add your trips</h1>
                            <p>Upload a snap from your trip along with a few details.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="home-card-container mx-auto">
                            <div class="container home-img-container">
                                <img class="home-img" src="{% static 'images/scratch_map/home_photos.png' %}" style="border-radius: 2px;">
                            </div>
                            <h1>See your photos</h1>
                            <p>See all your memories in one place, documenting all the countries you've visited.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="home-card-container mx-auto">
                            <div class="container home-img-container">
                                <img class="home-img" style="object-fit: cover;" src="{% static 'images/scratch_map/home_scratch_map_2.png' %}">
                            </div>
                            <h1>View your scratch map</h1>
                            <p>Tick off all the countries you've visited and work out where you are still to discover!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}