<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

    {% block content %}
        <div id="map-container" class="container-fluid">
            <div id='map' style='height: 60vh; border-radius: 10px 10px 0 0;'></div>

            <div class="row">
                <div class="col-12">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                          {% for c in trips %}
                                {% if c.id == trips.first.id %}
                                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                                {% else %}
                                    <li data-target="#carouselExampleCaptions" data-slide-to="{{ forloop.counter0 }}"></li>
                                {% endif %}
                            {% endfor %}
                      </ol>
                        <div class="carousel-inner">
                            {% for c in trips %}
                                {% if c.id == trips.first.id %}
                                    <div class="carousel-item active">
                                {% else %}
                                    <div class="carousel-item">
                                {% endif %}
                                  <img src="{{ c.trip_img.url }}" class="d-block w-100" alt="{{ c.country_visited }}" style="height: 66vh; object-fit:cover;">
<!--                                    <div class="container-fluid" style="height: 300px; padding: 0;">-->
                                        <div class="container-fluid map-card-caption">
                                            <h5>{{ c.country_visited }} {{ c.year_visited }}</h5>
                                            <p>{{ c.note }}</p>
                                        </div>
<!--                                    </div>-->
<!--                              <div class="carousel-caption d-none d-md-block"></div>-->
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

<!--                <div class="col-lg-6 col-md-12">-->



<!--&lt;!&ndash;                      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="sr-only">Previous</span>&ndash;&gt;-->
<!--&lt;!&ndash;                      </a>&ndash;&gt;-->
<!--&lt;!&ndash;                      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="carousel-control-next-icon" aria-hidden="true"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="sr-only">Next</span>&ndash;&gt;-->
<!--&lt;!&ndash;                      </a>&ndash;&gt;-->
<!--                    </div>-->

<!--&lt;!&ndash;                    <div class="btn-group-vertical" style="width: 100%; font-size: 24px;">&ndash;&gt;-->
<!--&lt;!&ndash;                    {% for c in trips %}&ndash;&gt;-->
<!--&lt;!&ndash;                        <button type="button" name="{{ c.id }}" class="btn btn-secondary countries-img-link">{{ c.country_visited }} {{ c.year_visited }}</button>&ndash;&gt;-->
<!--&lt;!&ndash;                    {% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->

<!--                <div class="col-lg-6 col-md-12" style="padding: 0;">-->
<!--                    {% for c in trips %}-->
<!--                    <div id="id{{ c.id }}" class="card mx-auto map-card">-->
<!--                        <img class="card-img-top map-card-img" src="{{ c.trip_img.url }}" alt="{{ c.country_visited }}">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title map-card-country">{{ c.country_visited }}</h5>-->
<!--                            <h3 class="card-title map-card-year">{{ c.year_visited }}</h3>-->
<!--                            <p class="card-text map-card-note">{{ c.note }}</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% endfor %}-->
<!--                </div>-->

            </div>
        </div>

        <script>
            mapboxgl.accessToken = 'pk.eyJ1Ijoib2xsaWVvYzIyIiwiYSI6ImNrOHNxZWFlaTBpZDIza2xvcGE5ZG91M2sifQ.9npMyFp_6pYpb-32MBCYSQ';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/light-v10',
                center: [7.5, 34.5],
                zoom: 1.2
            });
            map.addControl(new mapboxgl.FullscreenControl());
        </script>

        {% for c in trips %}
            <script>
                map.on('load', function() {
                    map.addSource('{{ c.country_visited|safe }}{{ c.id|safe }}', {
                        'type': 'geojson',
                        'data': {
                            'type': 'Feature',
                            'properties': {},
                            'geometry': {
                                'type': '{{ c.country_visited.country_type|safe }}',
                                'coordinates': {{ c.country_visited.country_coordinates|safe }}
                            }
                        }
                    });

                    map.addLayer({
                        'id': '{{ c.id|safe }}',
                        'type': 'fill',
                        'source': '{{ c.country_visited|safe }}{{ c.id|safe }}',
                        'layout': {},
                        'paint': {
                            'fill-color': '#29dba0',
                            'fill-opacity': 0.5
                        }
                    });
                });
            </script>
        {% endfor %}

<!--        <script src="{% static 'js/scratch_map/scratch_map.js' %}"></script>-->
    {% endblock %}
