<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <title>Ollie's Travel Hub</title>

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Gruppo" />
    <link rel="stylesheet" href="{% static 'css/ollies_travel_hub.css' %}" />
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <script src="https://kit.fontawesome.com/7331a0d7a2.js" crossorigin="anonymous"></script>


</head>

<body>
    <div class="page-wrapper">
        <div class="container">
            <div class="row">
                <div id="logo-container" class="container-fluid">
                    <a class="navbar-brand" href="{% url 'scratch_map:landing_page' %}">
                        <img src="{% static 'images/LogoALTb.png' %}" height="150" alt="Home" style="padding-left: 25px;">
                        <img src="{% static 'images/site_name.png' %}" height="150" alt="Home" style="padding-top: 10px;">
                    </a>
                </div>
            </div>
        </div>
        <div id="navbar-container" class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-item nav-link" href="{% url 'scratch_map:home' %}">Home</a>
                  <a class="nav-item nav-link" href="{% url 'scratch_map:add_trip' %}">Add Trip</a>
                  <a id="test6" class="nav-item nav-link" href="{% url 'scratch_map:photo_cards' %}">Photos</a>
                  <a class="nav-item nav-link" href="{% url 'scratch_map:map' %}">Scratch Map</a>
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'accounts:logout' %}">Log Out</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'accounts:login' %}">Log In</a>
                        <a class="nav-item nav-link" href="{% url 'accounts:signup' %}">Sign Up</a>
                    {% endif %}
                    {% if user.is_superuser %}
                        <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>
                    {% endif %}
                </div>
              </div>
            </nav>
        </div>
        {% if user.is_authenticated %}
            <div id="account-pic-container" class="container">
                <a href="{% url 'accounts:profile' slug=user.userprofile.slug %}">
                {% if user.userprofile.profile_pic %}
                    <img id="navbar-account-pic" src="{{ user.userprofile.profile_pic.url }}">
                {% endif %}
                    <span class="username">{{ user.username }}</span>
                </a>
            </div>
        {% else %}
            <div class="container" style="height: 20px;"></div>
        {% endif %}

        <div class="container-fluid main-page">
            {% block content %}

                <!--PAGE CONTENT-->

            {% endblock %}
        </div>
    </div>

    <div class="footer">
        <div class="container">
<!--            <div class="row">-->
<!--                <div class="col-6">-->
<!--                    <p>Something else</p>-->
<!--                </div>-->
<!--                <div class="col-6">-->
<!--                    <p>Something else</p>-->
<!--                </div>-->
<!--            </div>-->
            <div class="row">
                <div class="col-12">
                    <p>&copy; 2020 www.MyTravelMapper.com</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
<!--    <script src="{% static 'js/base.js' %}"></script>-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>


