/* general */

* {
    color: white;
    font-family: Gruppo;
}
body {
    background: url('background.jpeg') no-repeat center center fixed, rgba(0,0,0,0.6);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-blend-mode: overlay;
}

/* landing_page */

#landing_page {
    background: black;
}
#landing-page-image {
    text-align: center;
    position: relative;
    top: 200px;
}
#landing-page-image img {
    width: 40%;
}
.landing-page-button {
    margin-top: 40px;
    letter-spacing: 20px;
    padding-left: 30px;
    border: 2px solid white;
    border-radius: 10px;
}

/* Navbar */

#logo-container {
    margin: 10px auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar-container a {
    margin: 0 20px;
    font-size: 20px;
    color: #29dba0;
    text-align: center;
}
#navbar-container a:hover {
    font-weight: 900;
}
#navbar-account-pic {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
}
#account-pic-container {
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#account-pic-username {
    color: white;
}
#account-pic-username:hover {
    font-weight: 900;
}

/* accounts APP*/
.accounts-form {
    width: 600px;
}

/* scratch_map APP*/

.main-page {
    text-align: center;
}

/* add_trip PAGE */

#add-trip-container {
    width: 400px;
}

/* photo_cards PAGE */

#photo-card-container {

}
.photo-card {
    width: 500px;
    margin: 20px 30px;
    padding: 2px 2px;
    text-align: center;
}
.photo-card-img {
    height: 500px;
    object-fit: cover;
}
.photo-card h5 {
    color: grey;
    font-size: 28px;
}
.photo-card p {
    color: grey;
    font-size: 24px;
}

/* map PAGE */

#map-container {
    padding: 0 0;
    margin: 0 auto;
    width: 90%;
}
#map-card-container {
    margin-top: 40px;
}
#map-card {
    color: grey;
    margin: 20px 30px;
    padding: 2px 2px;
    text-align: center;
    display: none;
}
#map-card * {
    color: grey;
}
#map-card-img {

}
.picture-upload {
    background: Transparent;
    border: none;
}



