<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}

    {% block content %}

        <div class="container accounts-form">
            <h1>Update Account</h1>
            <form method="POST">{% csrf_token %}
                {{ form.first_name|as_crispy_field }}
                {{ form.last_name|as_crispy_field }}
                {{ form.email|as_crispy_field }}
                {{ form.is_active|as_crispy_field }}
                <input type="submit" class="btn btn-secondary submit-button" value="Update">
            </form>
        </div>

    {% endblock %}