<!DOCTYPE html>
{% extends 'base.html' %}


    {% block content %}

        <div class="container accounts-form">
            <p><a href="{% url 'accounts:profile_pic' slug=user.username %}">Edit Profile Picture</a></p>
            <h1>Account</h1>
            <h3>Full name</h3>
            <p>{{object.user.first_name}} {{object.user.last_name}}</p>
            <h3>Username</h3>
            <p>{{object.user.username}}</p>
            <h3>Email</h3>
            <p>{{object.user.email}}</p>
            <h3>Date Joined</h3>
            <p>{{object.user.date_joined}}</p>
            <a class="nav-item nav-link" href="{% url 'accounts:update' slug=user.username %}">Edit User</a>
            <p><a href="{% url 'accounts:password_update' %}">Update password</a></p>
        </div>

    {% endblock %}